/* cyrillic-ext */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: none;
    padding: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #222;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 1920px;
}

.content h1 {
    font-size: 50px;
    font-weight: 700;
}

.sidebar {
    position: absolute;
    top: 50vh;
    right: 0;
    transform: translateY(-50%);
}

.sidebar img {
    height: 80px;
}

.sidebar .item {
    background: rgb(18, 21, 115);
    cursor: pointer;
    padding: 10px;
    font-size: 25px;
    margin: 10px;
    font-weight: bold;
    border-radius: 10px;
    transform: translateX(68%);
    transition: transform 400ms cubic-bezier(.79, .14, .17, 1.35);
}

.sidebar .item .itemContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 50px 0 10px;
}

.sidebar a {
    padding: 0 0 0 50px;
}

.sidebar .item:hover {
    transform: translateX(10%);
}